/* Creates a grid of 3 columns and width of 300px and auto margin */
.game-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 300px;
    margin: auto;
}

/* Adds flex to each cell, centers the content, adds width and height of 100px for each cell, adds a box shadow in each cell, adds a border, adds font size of 60px and a pointer when the cursor is over the cells.  */
.cell {
    display: flex;
    justify-content: center;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 0 1px #000;
    border: 1px solid #000;
    cursor: pointer;
    font-size: 60px;
}

/* adds content of X as a string */
.x-class::before {
    content: "X";
}

/* adds content of O as a string */
.o-class::before {
    content: "O";
}